*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100vh;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.canvas {
  border: 1px solid black;
  display: block;
}

.homes {
  display: flex;
  justify-content: center;
}

.partners__input,
.cars__input {
  display: block;
}
